.contact_main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "aside nav";
    background-color: #F5F5F5;
    padding-top: 1rem;
}
aside{
grid-area: aside;
}
nav{
grid-area: nav;
padding-left: 2rem;
}
.contactitem{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    overflow-y: scroll;
    height: 80vh;
    padding-right: 1rem;
}
.Contact_header{
    padding-left: 2rem;
    padding-bottom: 1rem;
}

@media(max-width:1050px) {
    aside{
        display: none;
    }
    nav{
        padding: 0;
    }
    .Contact_header{
        padding: 0;
        padding-bottom: 1rem;
    }
    .contactitem{
        padding: 0;
    }
    .contact_holder{
        padding: 0;
    }
}