.events_items{
    display: grid;
    border-radius: .5rem;
    grid-template-columns: 4fr 2fr;
    /* width: 70vw; */
    /* width: 70vw; */
    margin: 0.5rem 0 0.5rem 0;
    padding: 1.2rem 0 1.2rem 0.5rem;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.65) 50%, #FFF 100%);
}

.events_items_l{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}