.eventsBody{
    background-color:#F5F5F5;   
    height: 100%;
}

.eventsMain{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "sidebar section";
}

.eventsAside{
    grid-area: sidebar;

    /* width: 15rem; */
}

.eventsNav{
    grid-area: section;
    background-color: #F5F5F5;
    width: 75vw;
}

.events_main{
    background-color: #F5F5F5;
    height: 89.5vh;
    padding:0 1rem 0 2rem;
}
h1{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #215EBE;
    line-height: 2.8rem;
    font-weight: 400;
    justify-content: flex-start;
}

.events_type{
    display: grid;
    grid-template-columns: 4fr 2fr;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.65) 50%, #FFF 100%);
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    align-items: center;
    margin-bottom: 0 0 20px 0;
}

.Events_name{
    display: flex;
    align-items: center;
    color: rgba(55, 65, 81, 0.59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-bottom: 15px;
}
.events_container{
    overflow-y: scroll;
    height: 73vh;
    width: 100%;
}
::-webkit-scrollbar{
    display: none;
}