.body{
background-color:#F5F5F5;   
    height: 100%;
}

::-webkit-scrollbar{
    display: none;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "sidebar section"
    ;
    height: 100%;
}

aside{
    width: 100%;
    /* overflow-y: hidden; */
}

.body main section{
    height: 100%;
}

footer{
    height: 100%;
    width: 100%;
}

nav{
    display: grid;
    /* display: flex;
    flex-direction: column; */
    padding-left: 5rem;
    height: 100%;
    grid-template-rows: 65% 35%;
    overflow-y: hidden;
}

h3{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #215EBE;
    font-style: normal;
    font-weight: 400;
    margin-top: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.resource_name{
    display: flex;
    align-items: center;
    color: #374151;
    font-size: 1.2rem;
    margin: 3rem 0 1rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: normal;
    font-weight: 400;
}

.resource__holder{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    gap: 2rem;

    /* overflow-y: auto;
    overscroll-behavior-inline: contain; */
}

.media__element{
    background-color: #E8E9ED;
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    padding: 0;
        -webkit-box-shadow: -1px 4px 10px 1px rgba(153,153,153,0.52);
    -moz-box-shadow: -1px 4px 10px 1px rgba(153,153,153,0.52);
    box-shadow: -1px 4px 10px 1px rgba(153,153,153,0.52);
 
}

.title {
    font-size: 1.2rem;
    color: #4C5463;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.resource__link{
    text-decoration: none;
}

h5{
    color: #374151;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recent__name{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.properties{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 5px 0;
    margin-top: 1rem;
}
.props{
    color: rgba(55, 65, 81, 0.59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.15rem;
}

.recent__items{
    height: 13.75em;
    overflow-y: scroll;
    scroll-behavior: smooth;
}