.loginContainer{
    display: grid;
    grid-template-columns: 3fr 4fr;
    width: 100%;
    height: 100vh;
    position: relative;
}
/* section:nth-of-type(1){
    background-color:#F5F7F9;  
} */
.loginMessage{
    color: #888E97;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: absolute;
    bottom: 2em;
}
.loginSection1{
    position: relative;
    background-color: red;
}
.pd{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 1.8em;
    display: flex;
    margin: 0;
    align-items: center;
    color: #374151;
}
.loginWelcome{
    padding: 3em 0 1em 0;
}
p{
    margin-left: 73.14px;
    background-color: #F5F7F9;
    margin-top: 25em;
}
.vetImages{
    position: relative;
    width: 100%;
    margin: 2em 0 0 2em;
    background-color: green;
}
.loginimg1{
    position: absolute;
    width: 30%;
    top: 10em;
    left: 18em;
    z-index: 2;
}
.loginimg2{
    position: absolute;
    left: 3em;
    top: 18em;
    width: 40%;
    z-index: 1;
}
.loginimg3{
    position: absolute;
    width: 30%;
    left: 8em;
    top: 1em;
    z-index: 3;
}
.section2{
    background-color: #fff;
    padding: 0 14em;
    /* justify-content: center; */
}
.welcome{
    font-size: 2rem;
    /* margin-left: 200px; */
    margin: 6em 0 2em 0;
    display: flex;
    align-items: flex-start;
    text-align: start;
    justify-content: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000ee;
}
#student_id{
    background: #ffffff;
    font-weight: bold;
    position: absolute;
    margin-top: 1.35rem;
    font-size: 1.2rem;
    margin-left: 1rem;
}
#std_id{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #edf3fa;
    padding-left: 9rem;
    height: 3em;
    width: 26em;
    border-radius: 10px;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    border: none;
    outline: none;
    box-sizing: border-box;
}
#student_pin{
    background: #ffffff;
    font-weight: bold;
    margin-top: 1.35rem;
    position: absolute;
    font-size: 1.2rem;
    margin-left: 1rem;
}
#std_pin{
    height: 3em;
    width: 26em;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #edf3fa;
    padding-left: 4rem;
    border-radius: 10px;
    outline: none;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
}
#submit_button{
    background: #215EBE;
    height: 3em;
    width: 24.5em;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.input_container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
#submit_button{
    color: #ffffff;
    font-size: 23.81px;
}
@media screen and (max-width:481px){
    section:nth-of-type(1){
        display: none;
    }
    section:nth-of-type(2){
        background-color: #F5F7F9;
    }
}