.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: .6rem;
    background-color:#F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar__toggle{
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.25rem;
}

.logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #374151;
    text-decoration: none;
    font-size: 1.91rem;
    line-height: normal;
    font-weight: 700;
}

.navbar__search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    background-color: #E8E9ED;
    border-radius: 2.653rem;
}
.navbar__search:hover #search_icon{
    transform: translateX(1730%);
}

#search_icon{
    color: black;
    background-color: transparent;
    width: 39.13;
    height: 39.13;
    padding-left: 0.5rem;
    position: relative;
    transition: transform 1s;
    cursor: pointer;
}

#search{
    width: 34.893rem;
    height: 2.523rem;
    background-color: #E8E9ED;
    color: #000000;
    border: none;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
    font-size: 1.19rem;
    font-style: italic;
    font-weight: 300;
    padding-right: 2rem;
    outline: none;
    padding-left: 5px;
}

#search_icon{
    width: 1.5rem;
    height: 1.5rem;
}

.user__mode{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.navbar__update{
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

.update__image{
    width: 2.28rem;
    height: 1.57rem;
    color: #000000;
    cursor: pointer;
}
.update__image:hover{
    animation: update-hover 0.5s ease-in infinite;
}

@keyframes update-hover{
    30%{
        transform: translateY(2px) rotate(-5deg);
    }
    70%{
        transform: translateY(2px) rotate(5deg);
    }
}
.update__image::before{
    content: "10";
    display: flex;
    font-size: 0.8rem;
    color: red;
    background-color: #ffffffdc;
    padding: 0;
    font-weight: bold;
    position: absolute;
    margin-right: 1px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.navbar__login{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 5rem;
    background-color: darkslateblue;
}

#avatar-id{
    padding-left: 5px;
}

.image-name{
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar__update .image-name{
    color: #374151;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;
    position: absolute;
    left: 0rem;
    top: calc(100% + .25rem);
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    width: 18rem;
    margin-top: 1.1rem;
    margin-left: 0;
    padding-left: 0;
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

#avatar-icon{
    width: 2.58rem;
    height: 1.97rem;
    display: flex;
    justify-content: center;
}

#update-icon:focus + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
}

ul{
    list-style: none;
    padding-left: 1rem;
    padding-top: 1rem;
}

.update-menu{
    font-size: 1.2rem;
}


@media screen and (max-width:1050px){    
    .navbar__toggle .bar{
        width: 30px;
        height: 3px;
        background-color: #699BF7;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        gap: 1rem;
        display: block;
    }
    .navbar__toggle .bar:nth-child(1){
        width: 15px;
        margin-left: 0px;
    }

    .navbar__toggle .bar:nth-child(2){
        opacity: 1;   
    }

    .navbar__toggle .bar:nth-child(3){
        width: 15px;
        margin-right: 0px;
    }

    #mobile-menu{
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        width: 25px;
        margin: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        width: 25px;
        margin: 0;
    }

    .navbar{
        padding: 0.5rem;
    }

    .navbar__toggle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        margin-left: 0;
    }

    .logo-name{
        font-size: 1.5rem;
    }

    .navbar__search{
        display: none;
    }

    .media{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .container{
        height: 2.1rem;
        width: 2.1rem;
    }

    .update__image{
        height: 1.7rem;
        width: 2.1rem;
    }
    .user__mode{
        gap: 2rem;
    }
}
