.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin: 30px 30px 10px 20px;
    border-bottom: 1px solid rgba(55, 65, 81, 0.25);
    padding-right: 2rem;
}