.slides{
    border-radius: .5em;
    display: grid;
    grid-template-columns: 5fr 2.2fr 1fr;
    margin-bottom: 0rem;
    margin-top: 0.3rem;
    padding: 1rem 0 1rem 1rem;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.65) 50%, #FFF 100%);
    
}

.slides_items{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

